<%= include('includes/top.tmpl') %>

    <div class="main">
        <div class="media-container-overflow-wrapper">
            <div class="media-container">
                <div id="media-player" class="media-player"></div>
                <div class="overlay-layers">
                    <div class="overlay-layer overlay-layer--intro">
                        <button class="media-player--button media-player--resume-button">Play</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%= include('includes/bottom.tmpl') %>
