<%= include('includes/top.tmpl') %>

    <div class="main">
        <div class="media-container-overflow-wrapper">
            <div class="media-container">
                <div id="media-player" class="media-player"></div>
                <div class="overlay-layers">
                    <div class="overlay-layer overlay-layer--0">
                        <div class="overlay-label overlay-label--absolute" style="top: 36%; left: 49%">LONDON</div>
                        <div class="overlay-label--more-info overlay-label--absolute" style="top: 66%; left: 49%">
                            <div class="more-info-button"></div>
                            <div class="overlay-label">Heathrow Airport</div>
                        </div>
                    </div>
                    <button class="media-player--button media-player--resume-button">Continue</button>
                </div>
                <div class="lightbox--overlay">
                    <div class="lightbox--centerer"></div>
                    <div class="lightbox--popup">
                        <h4 class="lightbox--title"></h4>
                        <p class="lightbox--message"></p>
                        <button class="lightbox--close-button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%= include('includes/bottom.tmpl') %>
