.media-container-overflow-wrapper{
    overflow: hidden;
}
.media-container {
    overflow: visible;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 90px;
    position: relative;

    .media-player{
        position: absolute;
        top: -90px;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: 1;
    }
}

.media-player--button{
    position: absolute;
    display: block;
    bottom: 13px;
    right: 2%;
    outline: 0;
    background-color: #017F7E;
    color: #FFF;
    font: bold 16px Arial;
    line-height: 22px;
    padding: 12px;
    border: 2px solid #fff;
}
.media-player--resume-button{
    display: none;
}
